body {
  background: #f2f9f1;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background in place */
  background-size: cover; /* Ensures the gradient covers the whole page */
}

.container {
  max-width: 600px;
  margin: 30px auto;
  color: #155263;
  background: #ddeedf;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1 {
  color: #5c715e;
  text-align: center;
}
.hint {
  line-height: 1.5;
  margin-top: 12px;
  opacity: 0.6;
  font-size: 14px;
  position: relative;
  left: 50px;
  top: -10px;
}
form {
  padding: 10px 30px;
  margin: 0 auto;
  display: flex;
}
.writing {
  padding: 20px;
  width: 80%;
  font-size: 16px;
  border-radius: 20px;
  color: #5c715e;
  border: 1px solid #b6cdbd;
  background-color: #b6cdbd;
}
.submit-button {
  margin-left: 10px;
  background: #b6cdbd;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  padding: 14px 24px;
}
.poem {
  font-size: 20px;
  padding: 20px;
  margin-left: 60px;
  color: #5c715e;
}
footer {
  color: #5c715e;
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}
a {
  text-decoration: none;
  color: #085f63;
}
@media (max-width: 500px) {
  .poem {
    text-align: center;
    margin: 0 auto;
  }
}
